<% layout('layout') -%>
<table class="superTable">
    <thead>
        <tr>
            <td>#</td>
            <td>Спортсмен</td>
            <td>&Sigma;</td>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<data.length; i++ ) {%>
        <tr>
            <td><%= i+1 %></td>
            <td><%= data[i][1] %></td>
            <td><%= data[i][2] %></td>
        </tr>
        <% } %>
    </tbody>
</table>