<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</head>
<body>
<h1><%= title %></h1>

<% include navigation %>
<%- body %>

<script src='http://localhost:3001/socket.io/socket.io.js'></script>
<script src='http://localhost:3002/browser-sync-client.min.js'></script>
</body>
</html>