<ul class="navigation" id="navigation">
    <li class="navigation_i">
        <a href="/teams" class="navigation_a">Команды</a>
    </li>
    <li class="navigation_i">
        <a href="/events" class="navigation_a">Соревнования</a>
    </li>
</ul>