<% layout('layout') -%>

<div class="addForm">
    <input type="text" placeholder="Новая команда" id="name" class="i-t addForm_it"/>
    <a id="add" href="#" class="al">добавить</a>
</div>

<table>
    <thead>
        <tr>
            <td>Команда</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<data.length; i++) {%>
        <tr>
            <td><%= data[i][1] %></td>
            <td><a href="/teams/remove/<%= data[i][0] %>" class="rl">удалить</a></td>
        </tr>
        <% } %>
    </tbody>
</table>

<script type="text/javascript">
    var onSubmit = function(e) {
        e.preventDefault();
        var name = document.getElementById("name").value;
        if(name != "") {
            window.location.href = "/teams/add/" + name;
        }
    };

    document.getElementById("add").onclick = onSubmit;
    document.getElementById("name").onkeydown = function(e) {
        if(e.keyCode == 13) {
            onSubmit(e);
        }
    };
    document.getElementById("name").focus();
</script>