<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</head>
<body>
    <h1><%= title %></h1>
    <% include navigation %>

    <table>
        <thead>
            <tr>
                <td>Команда</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <% for(var team in data) {%>
            <tr>
                <td><%= data[team].name %></td>
                <td><a href="/teams/remove/<%= team %>">удалить</a></td>
            </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td><input type="text" placeholder="Добавить команду" id="name"/></td>
                <td><a id="add" href="#">добавить</a></td>
            </tr>
        </tfoot>
    </table>

    <script type="text/javascript">
        var onSubmit = function(e) {
            e.preventDefault();
            var name = document.getElementById("name").value;
            if(name != "") {
                window.location.href = "/teams/add/" + name;
            }
        };

        document.getElementById("add").onclick = onSubmit;
        document.getElementById("name").onkeydown = function(e) {
            if(e.keyCode == 13) {
                onSubmit(e);
            }
        };
        document.getElementById("name").focus();
    </script>
    <script src='http://localhost:3001/socket.io/socket.io.js'></script>
    <script src='http://localhost:3002/browser-sync-client.min.js'></script>
</body>
</html>