body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
}
thead {
  background-color: #eee;
  font-weight: bold;
}
tr {
  border-top: 1px solid #eee;
}
td {
  padding: 5px 10px;
}

/* colors */
.gold { background-color: gold; }
.silver { background-color: silver; }
.bronze { background-color: #F19A79; }